{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}

    {% if error %}
           <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
           <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="formgroup">
               <label for="username">login</label>
               <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>

            <div class="formgroup">
               <label for="password">Password</label>
               <input class="form-control" type="password" id="password" name="_password" required="required" />
            <div>

                <div class="checkbox">
                       <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                       <label for="remember_me">Remember me</label>
                </div>
                 <input class="btn btn-success" type="submit" id="_submit" name="_submit" value="Submit" />
    </form>

{% endblock fos_user_content %}